.search_container {
    margin: 100px 0 0 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.background {
    z-index: -2;
}

.search {
    width: 400px;
    height: 40px;
    background-color: rgb(95, 95, 95);
    border: 6px solid rgb(206, 205, 205);
    border-left: none;
    outline: none;
    border-radius: 0 7px 7px 0;
}

.search_item {
    height: 40px;
    background-color: rgb(95, 95, 95);
    border: 6px solid rgb(206, 205, 205);
    border-right: none;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 7px 0 0 7px;
}

.map {
    position: absolute;
    margin: 13% 0 0 8%;
    width: 80%;
    height: 70%;
    border-radius: 15px;
}
