name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  OPEN_WEATHER_API_KEY: ${{ secrets.OPEN_WEATHER_API_KEY }}
  UPSTASH_REDIS_REST_URL: ${{ secrets.UPSTASH_REDIS_REST_URL }}
  UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
  UPSTASH_RATELIMITER_TOKENS_PER_TIME: ${{ secrets.UPSTASH_RATELIMITER_TOKENS_PER_TIME }}
  UPSTASH_RATELIMITER_TIME_INTERVAL: ${{ secrets.UPSTASH_RATELIMITER_TIME_INTERVAL }}
  RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
  QWEATHER_API_KEY: ${{ secrets.QWEATHER_API_KEY }}
  API_NINJA_API_KEY: ${{ secrets.API_NINJA_API_KEY }}
  TURSO_CONNECTION_URL: ${{ secrets.TURSO_CONNECTION_URL }}
  TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup
      uses: ./tooling/github/setup

    - name: Install Playwright Browsers
      run: pnpm exec playwright install --with-deps

    - name: Build
      run: pnpm build

    - name: Test
      run: pnpm e2e:test

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
